<h1>{{ detailsInfo.description }}</h1>
<div class="details-header">
	<div class="food-category">
		<div><span>Data Type:</span> {{ detailsInfo.dataType }}</div>
		<div><span>Food Category:</span> {{ detailsInfo.foodCategory?.description }}</div>
		<div><span>FDC ID:</span> {{ detailsInfo.fdcId }}</div>
	</div>

	<button mat-mini-fab color="accent" (click)="openDetails()">
		<mat-icon>open_in_new</mat-icon>
	</button>
</div>

<mat-table [dataSource]="foodNutrients" class="mat-elevation-z8">
	<ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
		<mat-cell
			class="name-column"
			[class.header]="columnsName.includes(nutrient.nutrient.name)"
			*matCellDef="let nutrient"
		>
			{{ nutrient.nutrient.name }}
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="average amount">
		<mat-header-cell *matHeaderCellDef class="column-text-center"> Average Amount</mat-header-cell>
		<mat-cell class="column-text-center" *matCellDef="let nutrient"> {{ nutrient.amount }} </mat-cell>
	</ng-container>

	<ng-container matColumnDef="unit">
		<mat-header-cell *matHeaderCellDef class="column-text-right"> Unit</mat-header-cell>
		<mat-cell class="column-text-right" *matCellDef="let nutrient"> {{ nutrient.nutrient.unitName }} </mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
