.details-header {
	display: flex;
	justify-content: space-between;
}

.food-category {
	span {
		font-weight: bold;
	}
}

mat-header-cell {
	font-weight: bold;
}

.name-column {
	flex: 2;
}

.header {
	font-weight: bold;
}

.column-text-right {
	justify-content: flex-end;
}

.column-text-center {
	justify-content: center;
}
