<form [formGroup]="form">
	<mat-form-field appearance="fill">
		<mat-label>Search Food</mat-label>
		<input type="text" matInput formControlName="searchField" />
		<mat-icon matSuffix *ngIf="!searchResult">search </mat-icon>
		<button matSuffix *ngIf="searchResult" mat-button mat-icon-button aria-label="Clear" (click)="clearSearch()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
</form>

<div class="search-container">
	<app-search-result  *ngFor="let food of searchResult" [food]="food" (foodAdded)="foodAdded.emit($event)"></app-search-result>
</div>
