.progress-bar {
	position: relative;
	background-color: white;
	color: #ffe7fa;
	height: 1rem;
	width: 100%;
	margin: 10px 0;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	.meter {
		position: absolute;
		height: 1rem;
		border-radius: 3px;
		background-color: lightsteelblue;
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
		.percents {
			text-align: center;
		}
	}
}
