@import './src/styles/vars';

.mat-card {
	margin: 10px;

	.btn-center {
		width: 100%;
	}

	.flex-row {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid lightsteelblue;
		height: 2rem;
		align-items: center;
	}

	.flex-column {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.flex-cell {
		flex: 1;
		text-align: right;
	}
	.cell-name {
		flex: 2;
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.column-weight {
		color: map_get($types-colors, weight);
	}
	.column-carbs {
		color: map_get($types-colors, carbs);
	}
	.column-fat {
		color: map_get($types-colors, fat);
	}
	.column-protein {
		color: map_get($types-colors, protein);
	}
	.cell-name-bold {
		font-weight: bold;
		border: none;
	}
}
