<div class="container">
	<mat-card>
		<div class="flex-row cell-name-bold">
			<div>{{ group }}</div>
		</div>

		<div>
			<div class="flex-row" *ngFor="let food of meal">
				<div
					class="flex-cell cell-name"
					 matTooltip="{{food.name}}"
					(click)="openDialog(food)"
				>{{ food.name }} </div>
				<div class="flex-cell column-weight">{{food.weight}}</div>
				<div class="flex-cell column-protein">{{ food.protein }}</div>
				<div class="flex-cell column-carbs">{{ food.carbs }}</div>
				<div class="flex-cell column-fat">{{ food.fats }}</div>

			</div>
		</div>


		<mat-card-actions>
			<button class="btn-center" (click)="searchFood()" mat-button>
				<label>Add food</label>
				<mat-icon>add</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>
</div>
