<form class="container" [formGroup]="form" (ngSubmit)="saveSettings()">
	<mat-form-field appearance="fill">
		<mat-label>Calories</mat-label>
		<input matInput formControlName="calories" />
	</mat-form-field>
	<br />
	<mat-form-field appearance="fill">
		<mat-label>Carbs</mat-label>
		<input matInput formControlName="carbs" />
	</mat-form-field>
	<br />
	<mat-form-field appearance="fill">
		<mat-label>Fat</mat-label>
		<input matInput formControlName="fats" />
	</mat-form-field>
	<br />
	<mat-form-field appearance="fill">
		<mat-label>Protein</mat-label>
		<input matInput formControlName="proteins" />
	</mat-form-field>
	<div class="btn-save">
		<button type="submit" mat-raised-button color="primary">Save</button>
	</div>
</form>
