<mat-toolbar color="primary" class="mat-toolbar">
	<a [routerLink]="['/dashboard']" mat-icon-button>
		<mat-icon>home</mat-icon>
	</a>

	<button (click)="addFoodItem()" *ngIf="isButtonVisible" class="add-button" mat-fab color="accent">+</button>

	<a [routerLink]="['/settings']" mat-icon-button>
		<mat-icon>settings</mat-icon>
	</a>
</mat-toolbar>
