<div mat-dialog-content>
	<p>Enter food weight</p>
	<mat-form-field>
		<mat-label>Food Weight</mat-label>
		<input matInput [(ngModel)]="weight">
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">No Thanks</button>
	<button mat-button cdkFocusInitial (click)="setWeight(weight)">Ok</button>
	<button mat-button (click)="deleteItem()" color="warn" *ngIf="!hideRemoveButton">Delete</button>
</div>
