<mat-nav-list>
	<mat-list-item [routerLink]="['/details/' + food.fdcId]">
		<a matLine>{{ food.description }}</a>
		<span matLine>{{ food.dataType }}</span>

		<button mat-mini-fab mat-stroked-button color="accent" (click)="foodAdded.emit(food); $event.stopPropagation()">+</button>
		<button mat-mini-fab color="accent" (click)="openDetails()">
			<mat-icon>open_in_new</mat-icon>
		</button>
	</mat-list-item>
</mat-nav-list>
