<div class="time-picker">
	<button mat-button (click)="toPreviousDate()">
		<mat-icon>keyboard_arrow_left</mat-icon>
	</button>

	<div class="date">
		{{ formattedDate }}
	</div>

	<button mat-button (click)="toNextDate()" [disabled]="!isNextDayAvailable">
		<mat-icon>keyboard_arrow_right</mat-icon>
	</button>
</div>
