<app-time-picker-container></app-time-picker-container>
<!--<app-progress [percent]="progress.calories" [color]="TYPES_COLORS.calories"></app-progress>-->
<app-progress [percent]="progress.carbs" [color]="TYPES_COLORS.carbs"></app-progress>
<app-progress [percent]="progress.fats" [color]="TYPES_COLORS.fat"></app-progress>
<app-progress [percent]="progress.protein" [color]="TYPES_COLORS.protein"></app-progress>

<app-dashboard-group-container [meal]="data?.breakfast" [group]="'breakfast'"></app-dashboard-group-container>
<app-dashboard-group-container [meal]="data?.lunch" [group]="'lunch'"></app-dashboard-group-container>
<app-dashboard-group-container [meal]="data?.dinner" [group]="'dinner'"></app-dashboard-group-container>
<app-dashboard-group-container [meal]="data?.snacks" [group]="'snacks'"></app-dashboard-group-container>
